In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('adult.data.csv')

In [13]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [15]:
#no NAN data
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []

In [18]:
print("No of Male   :", len(df[df["sex"]=="Male"]))
print("No of Female :",len(df[df["sex"]=="Female"]))

No of Male   : 21790
No of Female : 10771

In [21]:
print("Average age of woman :",np.average(df[df["sex"]=="Female"]["age"]))

Average age of woman : 36.85823043357163

In [27]:
print("Percentage of German Citizens :", (100*len(df[df["native-country"]=="Germany"]))/len(df),"%")

Percentage of German Citizens : 0.42074874850281013 %

In [31]:
print("For people who earn >50, mean of age :",np.average(df[df["salary"]==">50K"]["age"]),",standard deviation of age :",np.std(df[df["salary"]==">50K"]["age"]))
print("For people who earn <=50, mean of age :",np.average(df[df["salary"]=="<=50K"]["age"]),",standard deviation of age :",np.std(df[df["salary"]=="<=50K"]["age"]))

For people who earn >50, mean of age : 44.24984058155847 ,standard deviation of age : 10.51835692766163
For people who earn <=50, mean of age : 36.78373786407767 ,standard deviation of age : 14.019804910115282

In [38]:
#False, people other than (Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate) education also earn >50K salary
df[df["salary"]==">50K"]["education"].unique().tolist()

['HS-grad',
 'Masters',
 'Bachelors',
 'Some-college',
 'Assoc-voc',
 'Doctorate',
 'Prof-school',
 'Assoc-acdm',
 '7th-8th',
 '12th',
 '10th',
 '11th',
 '9th',
 '5th-6th',
 '1st-4th']

In [44]:
for index,group in df.groupby(["sex","race"]):
  print(index)
  print(group[["age"]].describe())
  print("---------------------------------")
print("Max age of men of Amer-Indian-Eskimo is 82")

('Female', 'Amer-Indian-Eskimo')
              age
count  119.000000
mean    37.117647
std     13.114991
min     17.000000
25%     27.000000
50%     36.000000
75%     46.000000
max     80.000000
---------------------------------
('Female', 'Asian-Pac-Islander')
              age
count  346.000000
mean    35.089595
std     12.300845
min     17.000000
25%     25.000000
50%     33.000000
75%     43.750000
max     75.000000
---------------------------------
('Female', 'Black')
               age
count  1555.000000
mean     37.854019
std      12.637197
min      17.000000
25%      28.000000
50%      37.000000
75%      46.000000
max      90.000000
---------------------------------
('Female', 'Other')
              age
count  109.000000
mean    31.678899
std     11.631599
min     17.000000
25%     23.000000
50%     29.000000
75%     39.000000
max     74.000000
---------------------------------
('Female', 'White')
               age
count  8642.000000
mean     36.811618
std      14.329093
min      17.000000
25%      25.000000
50%      35.000000
75%      46.000000
max      90.000000
---------------------------------
('Male', 'Amer-Indian-Eskimo')
              age
count  192.000000
mean    37.208333
std     12.049563
min     17.000000
25%     28.000000
50%     35.000000
75%     45.000000
max     82.000000
---------------------------------
('Male', 'Asian-Pac-Islander')
              age
count  693.000000
mean    39.073593
std     12.883944
min     18.000000
25%     29.000000
50%     37.000000
75%     46.000000
max     90.000000
---------------------------------
('Male', 'Black')
               age
count  1569.000000
mean     37.682600
std      12.882612
min      17.000000
25%      27.000000
50%      36.000000
75%      46.000000
max      90.000000
---------------------------------
('Male', 'Other')
              age
count  162.000000
mean    34.654321
std     11.355531
min     17.000000
25%     26.000000
50%     32.000000
75%     42.000000
max     77.000000
---------------------------------
('Male', 'White')
                age
count  19174.000000
mean      39.652498
std       13.436029
min       17.000000
25%       29.000000
50%       38.000000
75%       49.000000
max       90.000000
---------------------------------
Max age of men of Amer-Indian-Eskimo is 82

In [50]:
married_columns = [i for i in df["marital-status"].unique().tolist() if i.find("Married")==(0) or i.find("married")==(0)  ]
married_columns

['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse']

In [58]:
print("people who earn >50K and are Married :",len(df[(df["salary"]==">50K") & (df["marital-status"].isin(married_columns))]))
print("people who earn >50K and are Bachelors :",len(df[(df["salary"]==">50K") & (~df["marital-status"].isin(married_columns))]))

people who earn >50K and are Married : 6736
people who earn >50K and are Bachelors : 1105

In [63]:
print("maximum number of hours a person works per week :",max(df["hours-per-week"]))
print("people working maximum number of hours :", len(df[df["hours-per-week"]==max(df["hours-per-week"])]))
print("number of people working maximum number of hours and earn >50K :", len(df[(df["hours-per-week"]==max(df["hours-per-week"])) & (df["salary"]==">50K")]))
print("% of people working maximum number of hours and earning >50K :", (100*len(df[(df["hours-per-week"]==max(df["hours-per-week"])) & (df["salary"]==">50K")]))/len(df[df["hours-per-week"]==max(df["hours-per-week"])]))

maximum number of hours a person works per week : 99
people working maximum number of hours : 85
number of people working maximum number of hours and earn >50K : 25
% of people working maximum number of hours and earning >50K : 29.41176470588235

In [66]:
for index,group in df.groupby(["salary","native-country"]):
  print(index)
  print(group[["hours-per-week"]].describe())
  print("---------------------------------")
print("Average hours-per-week for people with >50K salary in Japan : 47.958333")
print("Average hours-per-week for people with <=50K salary in Japan : 41.000000")

('<=50K', '?')
       hours-per-week
count      437.000000
mean        40.164760
std         12.817002
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
---------------------------------
('<=50K', 'Cambodia')
       hours-per-week
count       12.000000
mean        41.416667
std          3.088346
min         40.000000
25%         40.000000
50%         40.000000
75%         40.500000
max         50.000000
---------------------------------
('<=50K', 'Canada')
       hours-per-week
count       82.000000
mean        37.914634
std         13.012056
min          8.000000
25%         32.750000
50%         40.000000
75%         40.000000
max         70.000000
---------------------------------
('<=50K', 'China')
       hours-per-week
count       55.000000
mean        37.381818
std         11.439844
min          1.000000
25%         36.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'Columbia')
       hours-per-week
count       57.000000
mean        38.684211
std          8.610952
min          5.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'Cuba')
       hours-per-week
count       70.000000
mean        37.985714
std          9.960055
min          5.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         70.000000
---------------------------------
('<=50K', 'Dominican-Republic')
       hours-per-week
count       68.000000
mean        42.338235
std         11.121594
min         22.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         98.000000
---------------------------------
('<=50K', 'Ecuador')
       hours-per-week
count       24.000000
mean        38.041667
std         10.251105
min         22.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         66.000000
---------------------------------
('<=50K', 'El-Salvador')
       hours-per-week
count       97.000000
mean        36.030928
std          9.396867
min          3.000000
25%         32.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'England')
       hours-per-week
count       60.000000
mean        40.483333
std         15.177472
min          7.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
---------------------------------
('<=50K', 'France')
       hours-per-week
count       17.000000
mean        41.058824
std         12.401969
min         15.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         66.000000
---------------------------------
('<=50K', 'Germany')
       hours-per-week
count       93.000000
mean        39.139785
std         12.121299
min          6.000000
25%         38.000000
50%         40.000000
75%         45.000000
max         70.000000
---------------------------------
('<=50K', 'Greece')
       hours-per-week
count       21.000000
mean        41.809524
std         16.857103
min          4.000000
25%         40.000000
50%         40.000000
75%         55.000000
max         75.000000
---------------------------------
('<=50K', 'Guatemala')
       hours-per-week
count       61.000000
mean        39.360656
std          6.570218
min         18.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'Haiti')
       hours-per-week
count          40.000
mean           36.325
std            11.943
min            10.000
25%            30.000
50%            40.000
75%            40.000
max            75.000
---------------------------------
('<=50K', 'Holand-Netherlands')
       hours-per-week
count             1.0
mean             40.0
std               NaN
min              40.0
25%              40.0
50%              40.0
75%              40.0
max              40.0
---------------------------------
('<=50K', 'Honduras')
       hours-per-week
count       12.000000
mean        34.333333
std          8.626949
min         17.000000
25%         30.000000
50%         37.500000
75%         40.000000
max         45.000000
---------------------------------
('<=50K', 'Hong')
       hours-per-week
count       14.000000
mean        39.142857
std          4.294131
min         30.000000
25%         37.750000
50%         40.000000
75%         40.000000
max         50.000000
---------------------------------
('<=50K', 'Hungary')
       hours-per-week
count         10.0000
mean          31.3000
std           18.5954
min            3.0000
25%           20.0000
50%           30.0000
75%           47.5000
max           60.0000
---------------------------------
('<=50K', 'India')
       hours-per-week
count       60.000000
mean        38.233333
std         12.617403
min          8.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         84.000000
---------------------------------
('<=50K', 'Iran')
       hours-per-week
count       25.000000
mean        41.440000
std         12.440123
min          6.000000
25%         40.000000
50%         40.000000
75%         48.000000
max         65.000000
---------------------------------
('<=50K', 'Ireland')
       hours-per-week
count       19.000000
mean        40.947368
std          7.183884
min         25.000000
25%         38.000000
50%         40.000000
75%         42.000000
max         55.000000
---------------------------------
('<=50K', 'Italy')
       hours-per-week
count       48.000000
mean        39.625000
std         15.090683
min          6.000000
25%         38.750000
50%         40.000000
75%         40.000000
max         80.000000
---------------------------------
('<=50K', 'Jamaica')
       hours-per-week
count       71.000000
mean        38.239437
std          9.673919
min         10.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         70.000000
---------------------------------
('<=50K', 'Japan')
       hours-per-week
count       38.000000
mean        41.000000
std         11.902759
min         10.000000
25%         40.000000
50%         40.000000
75%         41.500000
max         65.000000
---------------------------------
('<=50K', 'Laos')
       hours-per-week
count       16.000000
mean        40.375000
std          4.112988
min         31.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         50.000000
---------------------------------
('<=50K', 'Mexico')
       hours-per-week
count      610.000000
mean        40.003279
std         10.377441
min          4.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         99.000000
---------------------------------
('<=50K', 'Nicaragua')
       hours-per-week
count       32.000000
mean        36.093750
std          8.663454
min         11.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'Outlying-US(Guam-USVI-etc)')
       hours-per-week
count       14.000000
mean        41.857143
std         10.747859
min         24.000000
25%         36.250000
50%         40.000000
75%         50.250000
max         60.000000
---------------------------------
('<=50K', 'Peru')
       hours-per-week
count       29.000000
mean        35.068966
std         11.609513
min          4.000000
25%         28.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'Philippines')
       hours-per-week
count      137.000000
mean        38.065693
std         11.265646
min          8.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         99.000000
---------------------------------
('<=50K', 'Poland')
       hours-per-week
count       48.000000
mean        38.166667
std         12.237600
min          3.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         65.000000
---------------------------------
('<=50K', 'Portugal')
       hours-per-week
count       33.000000
mean        41.939394
std          9.062075
min         30.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         84.000000
---------------------------------
('<=50K', 'Puerto-Rico')
       hours-per-week
count      102.000000
mean        38.470588
std          9.745988
min          6.000000
25%         36.000000
50%         40.000000
75%         40.000000
max         80.000000
---------------------------------
('<=50K', 'Scotland')
       hours-per-week
count        9.000000
mean        39.444444
std          9.166667
min         20.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         55.000000
---------------------------------
('<=50K', 'South')
       hours-per-week
count       64.000000
mean        40.156250
std         16.831771
min          4.000000
25%         35.000000
50%         40.000000
75%         48.500000
max         99.000000
---------------------------------
('<=50K', 'Taiwan')
       hours-per-week
count       31.000000
mean        33.774194
std         14.270505
min          2.000000
25%         20.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'Thailand')
       hours-per-week
count       15.000000
mean        42.866667
std         20.413114
min         10.000000
25%         35.000000
50%         40.000000
75%         52.500000
max         80.000000
---------------------------------
('<=50K', 'Trinadad&Tobago')
       hours-per-week
count       17.000000
mean        37.058824
std         12.477332
min         14.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         60.000000
---------------------------------
('<=50K', 'United-States')
       hours-per-week
count    21999.000000
mean        38.799127
std         12.400570
min          1.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         99.000000
---------------------------------
('<=50K', 'Vietnam')
       hours-per-week
count       62.000000
mean        37.193548
std         12.422664
min          1.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         77.000000
---------------------------------
('<=50K', 'Yugoslavia')
       hours-per-week
count       10.000000
mean        41.600000
std         11.305849
min         20.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         66.000000
---------------------------------
('>50K', '?')
       hours-per-week
count      146.000000
mean        45.547945
std         10.202827
min          8.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         80.000000
---------------------------------
('>50K', 'Cambodia')
       hours-per-week
count             7.0
mean             40.0
std               0.0
min              40.0
25%              40.0
50%              40.0
75%              40.0
max              40.0
---------------------------------
('>50K', 'Canada')
       hours-per-week
count       39.000000
mean        45.641026
std         12.066673
min         20.000000
25%         40.000000
50%         45.000000
75%         51.000000
max         72.000000
---------------------------------
('>50K', 'China')
       hours-per-week
count       20.000000
mean        38.900000
std         10.125008
min         10.000000
25%         38.000000
50%         40.000000
75%         41.250000
max         60.000000
---------------------------------
('>50K', 'Columbia')
       hours-per-week
count             2.0
mean             50.0
std               0.0
min              50.0
25%              50.0
50%              50.0
75%              50.0
max              50.0
---------------------------------
('>50K', 'Cuba')
       hours-per-week
count       25.000000
mean        42.440000
std         12.453514
min         14.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         60.000000
---------------------------------
('>50K', 'Dominican-Republic')
       hours-per-week
count        2.000000
mean        47.000000
std          9.899495
min         40.000000
25%         43.500000
50%         47.000000
75%         50.500000
max         54.000000
---------------------------------
('>50K', 'Ecuador')
       hours-per-week
count            4.00
mean            48.75
std              2.50
min             45.00
25%             48.75
50%             50.00
75%             50.00
max             50.00
---------------------------------
('>50K', 'El-Salvador')
       hours-per-week
count        9.000000
mean        45.000000
std          7.071068
min         35.000000
25%         40.000000
50%         45.000000
75%         50.000000
max         55.000000
---------------------------------
('>50K', 'England')
       hours-per-week
count       30.000000
mean        44.533333
std         11.072592
min         20.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         85.000000
---------------------------------
('>50K', 'France')
       hours-per-week
count        12.00000
mean         50.75000
std          16.36029
min          40.00000
25%          40.00000
50%          47.50000
75%          50.00000
max          99.00000
---------------------------------
('>50K', 'Germany')
       hours-per-week
count       44.000000
mean        44.977273
std         11.944618
min          8.000000
25%         40.000000
50%         45.000000
75%         50.000000
max         70.000000
---------------------------------
('>50K', 'Greece')
       hours-per-week
count        8.000000
mean        50.625000
std         11.783008
min         35.000000
25%         40.000000
50%         50.000000
75%         61.250000
max         65.000000
---------------------------------
('>50K', 'Guatemala')
       hours-per-week
count        3.000000
mean        36.666667
std          5.773503
min         30.000000
25%         35.000000
50%         40.000000
75%         40.000000
max         40.000000
---------------------------------
('>50K', 'Haiti')
       hours-per-week
count        4.000000
mean        42.750000
std          9.142392
min         35.000000
25%         38.750000
50%         40.000000
75%         44.000000
max         56.000000
---------------------------------
('>50K', 'Honduras')
       hours-per-week
count             1.0
mean             60.0
std               NaN
min              60.0
25%              60.0
50%              60.0
75%              60.0
max              60.0
---------------------------------
('>50K', 'Hong')
       hours-per-week
count            6.00
mean            45.00
std             10.00
min             40.00
25%             40.00
50%             40.00
75%             43.75
max             65.00
---------------------------------
('>50K', 'Hungary')
       hours-per-week
count             3.0
mean             50.0
std              10.0
min              40.0
25%              45.0
50%              50.0
75%              55.0
max              60.0
---------------------------------
('>50K', 'India')
       hours-per-week
count        40.00000
mean         46.47500
std          10.05622
min          20.00000
25%          40.00000
50%          41.50000
75%          50.00000
max          72.00000
---------------------------------
('>50K', 'Iran')
       hours-per-week
count       18.000000
mean        47.500000
std         10.325582
min         30.000000
25%         40.000000
50%         45.000000
75%         53.750000
max         70.000000
---------------------------------
('>50K', 'Ireland')
       hours-per-week
count        5.000000
mean        48.000000
std         10.954451
min         40.000000
25%         40.000000
50%         40.000000
75%         60.000000
max         60.000000
---------------------------------
('>50K', 'Italy')
       hours-per-week
count       25.000000
mean        45.400000
std          9.495613
min         20.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         67.000000
---------------------------------
('>50K', 'Jamaica')
       hours-per-week
count       10.000000
mean        41.100000
std          4.954235
min         35.000000
25%         38.500000
50%         40.000000
75%         40.000000
max         50.000000
---------------------------------
('>50K', 'Japan')
       hours-per-week
count       24.000000
mean        47.958333
std         16.120414
min         21.000000
25%         40.000000
50%         42.500000
75%         50.000000
max         99.000000
---------------------------------
('>50K', 'Laos')
       hours-per-week
count             2.0
mean             40.0
std               0.0
min              40.0
25%              40.0
50%              40.0
75%              40.0
max              40.0
---------------------------------
('>50K', 'Mexico')
       hours-per-week
count       33.000000
mean        46.575758
std         10.917390
min         30.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         80.000000
---------------------------------
('>50K', 'Nicaragua')
       hours-per-week
count        2.000000
mean        37.500000
std          3.535534
min         35.000000
25%         36.250000
50%         37.500000
75%         38.750000
max         40.000000
---------------------------------
('>50K', 'Peru')
       hours-per-week
count             2.0
mean             40.0
std               0.0
min              40.0
25%              40.0
50%              40.0
75%              40.0
max              40.0
---------------------------------
('>50K', 'Philippines')
       hours-per-week
count       61.000000
mean        43.032787
std          8.445842
min         35.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         80.000000
---------------------------------
('>50K', 'Poland')
       hours-per-week
count       12.000000
mean        39.000000
std          9.779385
min         10.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         50.000000
---------------------------------
('>50K', 'Portugal')
       hours-per-week
count        4.000000
mean        41.500000
std          5.972158
min         36.000000
25%         39.000000
50%         40.000000
75%         42.500000
max         50.000000
---------------------------------
('>50K', 'Puerto-Rico')
       hours-per-week
count       12.000000
mean        39.416667
std         11.057357
min          8.000000
25%         40.000000
50%         40.000000
75%         42.500000
max         50.000000
---------------------------------
('>50K', 'Scotland')
       hours-per-week
count        3.000000
mean        46.666667
std         11.547005
min         40.000000
25%         40.000000
50%         40.000000
75%         50.000000
max         60.000000
---------------------------------
('>50K', 'South')
       hours-per-week
count       16.000000
mean        51.437500
std         10.942082
min         35.000000
25%         40.000000
50%         50.000000
75%         60.000000
max         70.000000
---------------------------------
('>50K', 'Taiwan')
       hours-per-week
count       20.000000
mean        46.800000
std         13.485275
min         27.000000
25%         40.000000
50%         40.000000
75%         55.000000
max         84.000000
---------------------------------
('>50K', 'Thailand')
       hours-per-week
count        3.000000
mean        58.333333
std         14.433757
min         50.000000
25%         50.000000
50%         50.000000
75%         62.500000
max         75.000000
---------------------------------
('>50K', 'Trinadad&Tobago')
       hours-per-week
count             2.0
mean             40.0
std               0.0
min              40.0
25%              40.0
50%              40.0
75%              40.0
max              40.0
---------------------------------